@import url("reset.scss");
:root {
  font-family: Consolas;
}
.app {
  min-height: 100vh;
}

.app.dark {
  background-color: #090949;
}
.dark {
  background-color: #090949;
  color:#04ff04;
}

.app.light {
  background-color: #e8e8ea;
}
.light {
  background-color: #e8e8ea;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
