.nav{
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-between;
}
.background{
    background-color: #e8e8ea;
}
.link1{
    margin-right: 20px;
}
.active_link{
    color: red;
}